<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kpuls.project.sejati.projectblk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BasicView1.BasicView1"></activity>
        <activity android:name=".LuasPersegiPanjang.LuasPersegiPanjang" />
        <activity android:name=".KalkulatorSaya.KalkulatorSaya" />
        <activity android:name=".BelajarLayout.BelajarLayout" />
        <activity android:name=".BelajarIntent.BelajarIntent3" />
        <activity android:name=".BelajarIntent.BelajarIntent2" />
        <activity android:name=".BelajarIntent.BelajarIntent" />
        <activity android:name=".WasitDigital.WasitDigital" />
        <activity android:name=".ToastNumber.ToastNumber" />
        <activity android:name=".GantiWarna.GantiWarna" />
        <activity android:name=".GantiGambar.GantiGambar" />
        <activity android:name=".DataPribadi.DataPribadi" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>